@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Kalam&family=Mali:wght@300&family=Patrick+Hand&display=swap");

* {
  font-family: "Comic Neue", cursive;
}

body {
  background-color: black;
  color: white;
}

nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url("https://media.istockphoto.com/id/1370884809/photo/futuristic-dots-pattern-on-dark-background-colored-music-wave-big-data-technology-or-science.jpg?b=1&s=170667a&w=0&k=20&c=926kdy726O7Xhpw1gtV44ZifqSXI_QsqtDd-zrUiDus=");
  background-size: cover;
}

a {
  text-decoration: none;
  color: rgb(129, 204, 250);
}

li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(46, 46, 152);
  color: white;
}

.padding {
  margin: 5%;
  margin-top: 100px;
}

.icons {
  text-align: center;
  color: white;
  padding: 10px;
}

.icons:hover {
  color: lightblue;
}

.center {
  text-align: center;
}

.center a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.bor {
  background-color: rgba(36, 34, 34, 0.7);
  box-shadow: 0 0 10px black;
  border-radius: 50px;
}

.bgimg {
  background: url("https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_toystory_16x9_8461039f.jpeg")
    center fixed;
  background-size: cover;
  opacity: 70%;
}

.bglogo {
  background: url("img/WEBcomic.png") center fixed;
  background-size: cover;
  opacity: 70%;
}

.padbor {
  padding: 50px;
  padding-top: 20px;
}

.marginabout {
  margin-left: 230px;
  margin-top: -80px;
  margin-bottom: -70px;
}

.marginmore {
  margin-left: 230px;
  margin-top: -80px;
  margin-bottom: -70px;
}

.marginmore2 {
  margin-top: -3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(https://media.istockphoto.com/id/1370884809/photo/futuristic-dots-pattern-on-dark-background-colored-music-wave-big-data-technology-or-science.jpg?b=1&s=170667a&w=0&k=20&c=926kdy726O7Xhpw1gtV44ZifqSXI_QsqtDd-zrUiDus=);
  background-size: cover;
}

@media screen and (max-width: 650px) {
  .bglogo {
    background: url("img/WEBcomic.png") center no-repeat;
    background-size: 100%;
    opacity: 95%;
  }

  .bgoutlogo {
    background-color: rgb(2, 94, 151);
    opacity: 80%;
  }
}

@media screen and (max-width: 400px) {
  .marginmore {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: -30px;
  }
  .marginmore2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 900px) {
  .marginabout {
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: -20px;
  }
}

@media screen and (min-width: 650px) {
  .bglogo {
    background: url("img/WEBcomic.png") center;
    background-size: cover;
    opacity: 70%;
  }
}


